{% include 'base_start.html' %}
      <!-- Breadcrumbs-->
<ol class="breadcrumb">
	<h3><i class="fa fa-fw fa-columns"></i>Test Management</h3>
	<ul class="navbar-nav ml-auto">
		<a href="#/" class="btn btn-dark" onClick="save()">
			<i class="fa fa-fw fa-save"></i>SAVE
		</a>
	</ul>
</ol>
	<div class="card-body">
		<div class="table-responsive">
			<table id="data" class="table table-hover table-bordered">
				<thead>
					<tr>
						<th style="width:15%"><input id="mainIds" type="text" name="mainIds" class="form-control" readonly="readonly" hidden>Name:</th>
						<th style="width:85%">Test Scenario</th>
						<th style="width:1%"><a id="test_show_new_button" href="#/" class="btn btn-dark" onClick="test_show_new()"><i class="fa fa-fw fa-plus"></i></a></th>
					</tr>
				</thead>
				<tbody id="test_data_table"></tbody>
			</table>
		</div>
	</div>
</div>
<script>
document.getElementById("link_test").classList.add("active");
//Get Data from database
var content = JSON.parse('{{ TEST_configuration | tojson }}');
var content_history = JSON.parse('{{ TEST_history | tojson }}');
//Add Data to Table
$(document).ready(function(){
	for (var i = 0; i < content.length; i++) {
		//id='test_'+content[i].id;
		id=content[i].id;
		add_id='add_'+id
		$('#test_data_table').append(''+
		'<tr>'+
		'<td><a href="/TEST/conf/'+content[i].id+'">'+content[i].name+'</a></td>'+
		'<td colspan="2">'+
			'<table class="table table-hover table-bordered">'+
				'<thead>'+
					'<tr>'+
						'<th style="width:20%">Name:</th>'+
						'<th style="width:60%">Description</th>'+
						'<th style="width:20%">Created</th>'+
						'<th style="width:1%"><a id="'+add_id+'" href="#/" class="btn btn-dark" onClick="history_show_new(\''+id+'\',\''+add_id+'\')"><i class="fa fa-fw fa-plus"></i></a></th>'+
					'</tr>'+
				'</thead>'+
				'<tbody id="test_history_'+id+'"></tbody>'+
			'</table>'+
		'</td>'+
		//'<td><a href="#/" class="btn btn-dark" onClick="test_remove_conf('+content[i].id+')"><i class="fa fa-fw fa-minus"></i></a></td>'+
		'</tr>');
		for (var j = 0; j < content_history.length; j++) {
			if (content_history[j].configuration_id==content[i].id){
				$('#test_history_'+content[i].id).append(''+
				'<tr id="history_'+content_history[j].id+'">'+
				'<td>'+content_history[j].name+'</td>'+
				'<td>'+content_history[j].description+'</td>'+
				'<td>'+content_history[j].data_created+'</td>'+
				'<td><a href="/TEST/control/'+content_history[j].id+'" class="btn btn-dark"><i class="fa fa-fw fa-columns"></i></a></td>'+
				'</tr>');
			
			}
		}
	}
	
})

//Create new test settings
function test_show_new() {
document.getElementById("test_show_new_button").classList.add("disabled");

$('#test_data_table').prepend('<tr class="table-info" id="test_new_conf">'+
		'<td><input type="text" name="test_configuration" class="form-control"></td>'+
		'<td><input type="text" name="test_description" class="form-control"></td>'+
		'<td><a href="#/" class="btn btn-dark" onClick="test_delete()"><i class="fa fa-fw fa-minus"></i></a></td>'+
		'</tr>');
}
function history_show_new(id, add_id) {
document.getElementById(add_id).classList.add("disabled");
new_history_id='new_history_'+id;
$('#test_history_'+id).prepend('<tr class="table-info" id="'+new_history_id+'">'+
		'<td><input type="text" name="history_name_'+id+'" class="form-control"></td>'+
		'<td><input type="text" name="history_description_'+id+'" class="form-control"></td>'+
		'<td></td>'+
		'<td><a href="#/" class="btn btn-dark" onClick="history_delete(\''+new_history_id+'\', \''+add_id+'\')"><i class="fa fa-fw fa-minus"></i></a></td>'+
		'</tr>');
}
//remove created settings
function test_delete() {
document.getElementById("test_new_conf").remove();
document.getElementById("test_show_new_button").classList.remove("disabled");
}
function history_delete(id, add_id) {
document.getElementById(id).remove();
document.getElementById(add_id).classList.remove("disabled");
}
//Save created settings
function save() {
tester_list();
document.getElementById("post").action="/insert/TESTconf";
document.getElementById("post").submit();
}
//Getting IDS of added TextAreas
function tester_list() {
	var listOfObjects = [];
	var dates = document.querySelectorAll('*[id^="new_history_"]');
	for (var i = 0; i < dates.length; i++){
		var singleObj = {}
		singleObj['name']=dates[i].id
		listOfObjects.push(singleObj);
	}
	let names = listOfObjects.map(item => item.name);
	document.getElementById("mainIds").value=names.join();
}
//TEST Control


//remove settings
function test_remove_conf(id) {
document.getElementById("post").action="/delete/TESTdata/"+id;
document.getElementById("post").submit();
}


</script>       
 {% include 'base_end.html' %}     
