{% include 'base_start.html' %}
      <!-- Breadcrumbs-->
<ol class="breadcrumb">
	<h3><i class="fa fa-fw fa-clipboard"></i>Provisioning Settings</h3>
	<ul class="navbar-nav ml-auto">
		<a href="#/" class="btn btn-dark" onClick="save()">
			<i class="fa fa-fw fa-save"></i>SAVE
		</a>
	</ul>
</ol>
	<div class="card-body">
		<div class="table-responsive">
			<table id="data" class="table table-hover table-bordered">
				<thead>
					<tr>
						<th style="width:30%">Name:</th>
						<th style="width:60%">Description</th>
						<th style="width:2%"><a id="test_show_new_button" href="#/" class="btn btn-dark" onClick="test_show_new()"><i class="fa fa-fw fa-plus"></i></a></th>
					</tr>
				</thead>
			<tbody id="test_data_table"></tbody>
			</table>
		</div>
	</div>
</div>
<script>
document.getElementById("link_prov").classList.add("active");
//Get Data from database
var content = JSON.parse('{{ PROV_configuration | tojson }}');
//Add Data to Table
$(document).ready(function(){
	for (var i = 0; i < content.length; i++) {
		$('#test_data_table').append(''+
		'<tr>'+
			'<td><a href="/PROV/conf/'+content[i].id+'">'+content[i].name+'</a></td>'+
			'<td>'+content[i].description+'</td>'+
			'<td><a href="#/" class="btn btn-dark" onClick="test_remove_conf(\''+content[i].id+'\', \''+content[i].name+'\')"><i class="fa fa-fw fa-minus"></i></a></td>'+
		'</tr>');
	}
})
//Create new provisioning settings 
function test_show_new() {
	document.getElementById("test_show_new_button").classList.add("disabled");
	$('#test_data_table').prepend(''+
		'<tr id="test_new_conf">'+
		'<td><input type="text" name="test_configuration" class="form-control"></td>'+
		'<td><input type="text" name="test_description" class="form-control"></td>'+
		'<td><a href="#/" class="btn btn-dark" onClick="test_delete()"><i class="fa fa-fw fa-minus"></i></a></td>'+
	'</tr>');
}
//remove created settings
function test_delete() {
	document.getElementById("test_show_new_button").classList.remove("disabled");
	document.getElementById("test_new_conf").remove();
}
//Save created settings
function save() {
	document.getElementById("post").action="/insert/PROVconf";
	document.getElementById("post").submit();
}
//remove settings
function test_remove_conf(id, name) {
	if (window.confirm("Are you sure you want to remove Provisioning Settings \""+name+"\"'? This will effect all childreen.")) {
		document.getElementById("post").action="/delete/PROVdata/"+id
		document.getElementById("post").submit();
	}
}    
</script>  
{% include 'base_end.html' %}     
