{% include 'base_start.html' %}
	<ol class="breadcrumb">
		<h3><i class="fa fa-fw fa-file"></i>CCAP Files</h3>
		<ul class="navbar-nav ml-auto">
			<a href="#/" class="btn btn-dark" onClick="save()"><i class="fa fa-fw fa-save"></i>SAVE</a>
		</ul>
	</ol>
	<div class="card-body">
		<div class="table-responsive">
			<table id="data" class="table table-hover table-bordered">
				<thead>
					<tr>
						<th style="width:15%">File Name:</th>
						<th style="width:50%">Description</th>
						<th style="width:20%">Type</th>
						<th style="width:1%"><a id="group_show_new_button" href="#/" class="btn btn-dark" onClick="group_show_new()"><i class="fa fa-fw fa-plus"></i></a></th>
					</tr>
				</thead>
				<tbody id="group_data_table"></tbody>
			</table>
		</div>
	</div>
      
 {% include 'base_end.html' %}     
<script>
document.getElementById("link_ccap_new").classList.add("active");
//Get Data from database
var content = JSON.parse('{{ CCAP_configuration | tojson }}');
var ccap_list = JSON.parse('{{ ccap_list | tojson }}');
//Add Data to Table
$(document).ready(function(){
	for (var i = 0; i < content.length; i++) {
		if (content[i].name.substr(0,7)!='example') {
			$('#group_data_table').append(''+
				'<tr>'+
					'<td><a href="/CCAP_new/file/'+content[i].id+'">'+content[i].name+'</a></td>'+
					'<td>'+content[i].description+'</td>'+
					'<td>'+content[i].type+'</td>'+
					'<td><a href="#/" class="btn btn-dark" onClick="group_remove_conf(\''+content[i].id+'\', \''+content[i].name+'\')"><i class="fa fa-fw fa-minus"></i></a></td>'+
				'</tr>');
			//select_list(content[i].id, content[i].type);
		}
	}
})
function select_list(id, selected) {
	for (var i = 0; i < ccap_list.length; i++) {
		$('#type_'+id).append('<option value="'+ccap_list[i].name+'" selected>'+ccap_list[i].name+'</option>');
		if (selected==ccap_list[i].name) {
			$('#type_'+id+' option[value="'+selected+'"]').attr('selected','selected');
		}
	}
}

//Create new config file
function group_show_new() {
document.getElementById("group_show_new_button").classList.add("disabled");
$('#group_data_table').prepend(''+
	'<tr id="group_new_conf" >'+
		'<td><input type="text" name="ccap_configuration" class="form-control"></td>'+
		'<td><input type="text" name="ccap_description" class="form-control"></td>'+
		'<td><select name="ccap_type" id="type_new" class="form-control"></select></td>'+
		'<td><a href="#/" class="btn btn-dark" onClick="group_delete()"><i class="fa fa-fw fa-minus"></i></a></td>'+
	'</tr>');
	select_list('new', '');
}
//remove created config file
function group_delete() {
	document.getElementById("group_show_new_button").classList.remove("disabled");
	document.getElementById("group_new_conf").remove();
}

//Save created config file
function save() {
	document.getElementById("post").action="/insert/CCAPfile";
	document.getElementById("post").submit();
}
//remove config file
function group_remove_conf(id, name) {
	if (window.confirm("Are you sure you want to remove CCAP Configuration \""+name+"\"'?")) {
		document.getElementById("post").action="/delete/CCAPfile/"+id;
		document.getElementById("post").submit();
	}
}

</script> 