{% include 'base_start.html' %}
	<ol class="breadcrumb">
		<h3><i class="fa fa-fw fa-file"></i>CCAP Configuration: {{ This_CCAP_configuration[0].name }}</h3>
		<ul class="navbar-nav ml-auto">
			<a href="#/" class="btn btn-dark" onClick="save()"><i class="fa fa-fw fa-save"></i>SAVE</a>
		</ul>
	</ol>
	<div class="card-body" id="ccap-info">
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th style="width:20%"><input id="mainIds" type="text" name="mainIds" class="form-control" readonly="readonly" hidden>Configuration Name:</th>
						<th style="width:70%">Description</th>
						<th style="width:70%">Type</th>

					</tr>
				</thead>
				<tbody id="data_table"></tbody>
			</table>
		</div>
		<table class="table borderless">
			<thead>
				<tr>
					<th style="width:30%">Name</th>
					<th style="width:10%">Nr</th>
					<th style="width:60%">Content</th>
				</tr>
			</thead>
		</table>
	</div>
	
       
 {% include 'base_end.html' %}     
<script>
//Get Data from database
document.getElementById("link_ccap_new").classList.add("active");
var CCAP_part = JSON.parse('{{ CCAP_part | tojson }}');
var CCAP_configuration_new = JSON.parse('{{ CCAP_configuration_new | tojson }}');
var This_CCAP_configuration = JSON.parse('{{ This_CCAP_configuration | tojson }}');
var ccap_list = JSON.parse('{{ ccap_list | tojson }}');
for (var i = 0; i < ccap_list.length; i++) {
	if (This_CCAP_configuration[0].type==ccap_list[i].name) {
		ccap_list=ccap_list[i].styles;
	}
}

for (var i = 0; i < ccap_list.length; i++) {
			$('#ccap-info').append(''+
				'<div class="pull-left">'+
					'<h5>'+ccap_list[i].name+'</h5>'+
				'</div>'+
				'<div class="pull-right">'+
					'<a href="#/" class="btn btn-dark" onClick="addNew(\''+ccap_list[i].key+'\')"><i class="fa fa-fw fa-plus"></i></a>'+
				'</div>'+
				'<table class="table borderless">'+
					'<thead>'+
						'<tr>'+
							'<th style="width:30%"></th>'+
							'<th style="width:10%"></th>'+
							'<th style="width:60%"></th>'+
						'</tr>'+
					'</thead>'+
					'<tbody id="'+ccap_list[i].key+'">'+
				'</table>'+
				'<table class="table" id="'+ccap_list[i].key+'_select" style="display:none;">'+
					'<tbody>'+
						'<td style="width:20%">'+
							'<select class="form-control" size="1" id="'+ccap_list[i].key+'_select_file" onchange="changeFile(\''+ccap_list[i].key+'\')">'+
								'<option value="Choose one" selected>Choose one</option>'+
							'</select>'+
						'</td>'+
						'<td style="width:80%">'+
							'<select class="form-control" size="1" id="'+ccap_list[i].key+'_select_part" onchange="changePart(\''+ccap_list[i].key+'\')">'+
							'</select>'+
						'</td>'+
					'</tbody>'+
				'</table>'+
		}
	}
}

//Global Variable; textarea nr
textAreaId=1;
var list = [
			{ value: 'controllerUS', name: 'controller Upstream-Cable'},
			{ value: 'controllerDS', name: 'controller Integrated-Cable'},
			{ value: 'cable', name: 'interface Cable'},
			{ value: 'wideband', name: 'interface Wideband-Cable'},
			{ value: 'fibernode', name: 'cable Fiber-Node'},
			];
//Add Global Data from Database to Page
$(document).ready(function(){
	$('#data_table').append(''+
		'<tr>'+
			'<td><div class="form-group"><input type="text" name="ccap_name" value="'+This_CCAP_configuration[0].name+'" class="form-control"></td></div>'+
			'<td><div class="form-group"><input type="text" name="ccap_description" value="'+This_CCAP_configuration[0].description+'" class="form-control"></div></td>'+
			'<td><div class="form-group"><input type="text" name="ccap_type" value="'+This_CCAP_configuration[0].type+'" class="form-control"></div></td>'+
		'</tr>');
	for (var j = 0; j < CCAP_configuration_new.length; j++) {
		for (var i = 0; i < ccap_list.length; i++) {
			$('#'+ccap_list[i].key+'_select_file').append('<option value="'+CCAP_configuration_new[j].id+'">'+CCAP_configuration_new[j].name+'</option>');
		}
	}
})
//Add Parts Data from Database to Page
			 -->
$(document).ready(function(){
	for (var j = 0; j < ccap_list.length; j++) {
		for (var i = 0; i < CCAP_part.length; i++) {
			if (CCAP_part[i].configuration_id==This_CCAP_configuration[0].id && CCAP_part[i].name==ccap_list[j].name) {
				createTextArea(textAreaId, CCAP_part[i].name, CCAP_part[i].nr, CCAP_part[i].content, ccap_list[j].key);
			}
		}
	}
	//tester_up_down_active();
})

//Reacting on changing options_part
function changeFile(value) {
	//get selected File
	var x = document.getElementById(value+"_select_file").selectedIndex;
	var select_id = document.getElementById(value+"_select_file").getElementsByTagName("option")[x].value;
	//clear options_part
	$('#'+value+'_select_part').html('');
	if (select_id!='Choose one'){
		$('#'+value+'_select_part').append('<option value="Choose one" selected>Choose one</option>');
			for (var k = 0; k < ccap_list.length; k++) {
				if (value==ccap_list[k].key) {
					var name=ccap_list[k].name;
				}
			}
				for (var j = 0; j < CCAP_part.length; j++) {
					
					if (CCAP_part[j].configuration_id==select_id && CCAP_part[j].name==name) {
						$('#'+value+'_select_part').append('<option value="'+CCAP_part[j].id+'">'+CCAP_part[j].name+' '+CCAP_part[j].nr+'</option>');
				//}
				}
			}
	
	}

}
//Adding new TextAreas
function changePart(value) {
	//var mainTextArea = document.getElementById('mainTextArea');
	//var mainInput = document.getElementById('mainInput');
	//get selected Part
	var x = document.getElementById(value+"_select_part").selectedIndex;
	var select_id = document.getElementById(value+"_select_part").getElementsByTagName("option")[x].value;
	if (select_id!='Choose one'){
		for (var i = 0; i < CCAP_part.length; i++){
			if (CCAP_part[i].id == select_id){	
				createTextArea(textAreaId, CCAP_part[i].name, '', CCAP_part[i].content, value);
				document.getElementById('text_area_'+(textAreaId-1).toString()).setAttribute('class', 'table-info');
				$('#'+value+"_select_part").val('Choose one').change();
				document.getElementById(value+'_select').style.display = "none";
			}
		}
	}
	//tester_up_down_active();
}
//creating text areas
function createTextArea(id, name, nr, content, value) {
//variables
	$('#'+value).append(''+
		'<tr class="table-dark" id="text_area_'+id+'">'+
		'<td>'+
		'<input name="myTextArea_'+id+'_name" type="text" class="form-control" value="'+name+'" readonly>'+
		'</td>'+
		'<td>'+
		'<input name="myTextArea_'+id+'_nr" type="text" class="form-control" value="'+nr+'">'+
		'</td>'+
		'<td>'+
		'<textarea onkeyup="textAreaAdjust(this)" id="myTextArea_'+id+'" name="myTextArea_'+id+'" class="form-control"">'+content+'</textarea>'+
		'</td>'+
		'<td>'+
		'<a href="#/" class="btn btn-dark" onClick="removeThis('+id+')"><i class="fa fa-fw fa-minus"></i></a>'+
		'</td></tr>');
	textArea=document.getElementById('myTextArea_'+id);
	textArea.style.height = "1px";
	textArea.style.height = (25+textArea.scrollHeight)+"px";
	textAreaId=textAreaId+1;
}


function addNew(value){
	document.getElementById(value+'_select').style.display = "block";
}
//Getting IDS of added TextAreas
function tester_list() {
	var listOfObjects = [];
	var dates = document.querySelectorAll('*[id^="myTextArea_"]');
		for (var i = 0; i < dates.length; i++){
		var singleObj = {}
		singleObj['name']=dates[i].id
		listOfObjects.push(singleObj);
	}
	let names = listOfObjects.map(item => item.name);
	document.getElementById("mainIds").value=names.join();
}
//hiding buttons



//Adjust TextArea size
function textAreaAdjust(o) {
	o.style.height = "1px";
	o.style.height = (25+o.scrollHeight)+"px";
}

//Removing Text Area
function removeThis(div_id) {
	var element = document.getElementById('text_area_'+div_id);
	document.getElementById('text_area_'+div_id).remove();

}
//Save config file
function save() {
	tester_list();
	document.getElementById("post").action="/update/CCAPfile";
	document.getElementById("post").submit();
}

</script>